@using Charity.Mvc.Controllers
@model Charity.Mvc.Models.ViewModels.ContactFormViewModel

<div id="contact" class="contact">
    <h2>Skontaktuj się z nami</h2>
    <h3>Formularz kontaktowy</h3>
    <form asp-controller="@nameof(Home)" asp-action="@nameof(Home.ContactFormMessage)" class="form--contact" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group form-group--50">
            <input asp-for="FirstName" placeholder="Imię" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group form-group--50">
            <input asp-for="LastName" placeholder="Nazwisko" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <textarea asp-for="Message" placeholder="Wiadomość" rows="1"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>
        <div class="form-group--buttons">
            <button class="btn" type="submit">Wyślij</button>
        </div>
    </form>
    <div class="text-center">
        <h3></h3>
        Jeśli wypełnisz WSZYSTKIE pola, formularz zostanie wysłany. Nie wyświetli się potwierdzenie wysłania.
        Wysyłając formularz, wyrażasz zgodę na przesłanie danych na prywatną skrzynkę email.
        Twoje dane osobowe będą przetwarzane w celu udzielenia odpowiedzi na Twoje zgłoszenie złożone za pomocą formularza kontaktowego.
    </div>
</div>
<div class="bottom-line">
    <span class="bottom-line--copy">Application: Marek Adameczek. Graphics & layout: Coders Lab. Copyright &copy; 2020</span>
    <div class="bottom-line--icons">
        <a href="#" class="btn btn--small">
            <img src="~/images/icon-facebook.svg" alt="facebook" />
        </a> 
        <a href="#" class="btn btn--small">
            <img src="~/images/icon-instagram.svg" alt="instagram" />
        </a>
    </div>
</div>
