@using Charity.Mvc.Controllers
@using Charity.Mvc.Services
@inject IUserManagerService Manager
@{
    if (User.Identity.IsAuthenticated)
    {
        <ul class="nav--actions">
            <li class="logged-user">
                Witaj @Manager.GetFirstNameById(User.Claims.FirstOrDefault(c => c.Type.Contains("nameidentifier"))?.Value)!
                <ul class="dropdown">
                    <li>@Html.ActionLink("Profil", nameof(Account.EditProfile), nameof(Account))</li>
                    <li><a href="#">Ustawienia</a></li>
                    <li>@Html.ActionLink("Moje zbiórki", nameof(Donating.GetDonations), nameof(Donating))</li>
                    <li><a asp-controller=@nameof(Account) asp-action=@nameof(Account.Logout)>Wyloguj</a></li>
                </ul>
            </li>
        </ul>
    }
    else
    {
        <ul class="nav--actions">
            <li><a asp-controller=@nameof(Account) asp-action=@nameof(Account.Login) class="btn btn--small btn--without-border">Zaloguj</a></li>
            <li><a asp-controller=@nameof(Account) asp-action=@nameof(Account.Registration) class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
    }
}
