@using Charity.Mvc.Controllers
@{
    if (User.Identity.IsAuthenticated)
    {
        <ul class="nav--actions">
            <li class="logged-user">
                Witaj @User.Identity.Name.Split("_").First()
                <ul class="dropdown">
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Ustawienia</a></li>
                    <li><a href="#">Moje zbiórki</a></li>
                    <li><a asp-controller=@nameof(Account) asp-action=@nameof(Account.Logout)>Wyloguj</a></li>
                </ul>
            </li>
        </ul>
    }
    else
    {
        <ul class="nav--actions">
            <li><a asp-controller=@nameof(Account) asp-action=@nameof(Account.Login) class="btn btn--small btn--without-border">Zaloguj</a></li>
            <li><a asp-controller=@nameof(Account) asp-action=@nameof(Account.Registration) class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
    }
}
