<div class="slogan container container--90">
    <div class="slogan--item">
        <h1>
            Twoja pomoc jest bardzo cenna.<br />
            Zobacz swoje donacje.
        </h1>
    </div>
</div>
