
@{
    ViewData["Title"] = "Confirmation";
}

<header class="header--form-page">
    @Html.PartialAsync("_MenuBar").Result

    <div class="slogan container container--90">
        <h2>
            Dziękujemy za przesłanie formularza<br />
            Jeśli się zalogowałaś(eś) dostaniesz potwierdzenie emailem.<br />
            Jeśli dononujesz darowizny anonimowo, skontaktujemy się z Tobą telefonicznie.<br />
        </h2>
    </div>
</header>
