
@{
    ViewData["Title"] = "Confirmation";
}

<header class="header--form-page">
    @Html.PartialAsync("_MenuBar").Result

    <div class="slogan container container--90">
        <h2>
            Dziękujemy za przesłanie formularza<br />
            Na maila prześlemy wszelkie informacje o odbiorze.
        </h2>
    </div>
</header>
