<nav class="container container--70">
    @Html.PartialAsync("_UserActions").Result

    <ul>
        @Html.PartialAsync("_CommonMenuItems").Result
        <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
</nav>