@using Charity.Mvc.Controllers
<nav class="container container--70">
    @Html.PartialAsync("_UserActions").Result

    <ul>
        @Html.PartialAsync("_CommonMenuItems").Result
        <li><a asp-controller="@nameof(Donating)" asp-action="@nameof(Donating.Donate)" class="btn btn--without-border">Przekaż dary</a></li>
        <li><a href="#contact" class="btn btn--without-border">Kontakt</a></li>
    </ul>
</nav>