<div class="slogan container container--90">
    <div class="slogan--item">
        <h1>
            Zacznij pomagać!<br />
            Oddaj niechciane rzeczy w zaufane ręce
        </h1>
    </div>
</div>
