@{
    ViewData["Title"] = "Potwierdź zmianę hasła";
}

<header>
    @Html.PartialAsync("_MenuBar").Result
</header>

<section class="login-page">
    <h2>
        @ViewBag.Message<br />
        Wysłaliśmy do Ciebie email!<br />
        Otwórz go i kliknij link, aby potwierdzić zmianę hasła.
    </h2>
</section>