@using Charity.Mvc.Controllers
@{
    ViewData["Title"] = "Password changed";
}

<header>
    @Html.PartialAsync("_MenuBar").Result
</header>

<section class="login-page">
    <h2>
        Twoje hasło zostało zmienione!<br />
        <a asp-controller=@nameof(Home) asp-action=@nameof(Home.Index)></a>
    </h2>
</section>
