@{
    ViewData["Title"] = "Potwierdź rejestrację";
}

<header>
    @Html.PartialAsync("_MenuBar").Result
</header>

<section class="login-page">
    <h2>
        @ViewBag.Message
        Wysłaliśmy do Ciebie nowy email!<br />
        Otwórz go i kliknij link, aby uaktywnić konto.<br />
        Jeśli nie otrzymasz wiadomości,<br />
        to użyj funkcji resetowania hasła.
    </h2>
</section>
